
.nav-icon {
  height: 20px;
}

#social-media-section {
  text-align: right;
  padding: 10px 20px 0px 15px;
  background-color: #F1FBFF;
}

.church-address{
  color: black !important;
  padding-bottom: -5px !important;
}

.address-link {
  color: black !important;
  text-decoration: none;
}

.address-link:hover {
  color: blue;
}

.social-media-icon {
  height: 20px !important;
  width: 20px;
  margin: 0px 10px 10px 0px;
}

#yt-icon {
  width: 25px !important
}

.container-fluid {
  padding-top: 10px;
}

.card-img-top {
  max-height: 25rem !important;
}

.copyright {
 text-align: center:
}
