body {
  font-size: 13px;
}

.nav-icon {
  height: 20px;
}

#social-media-section {
  text-align: right;
  padding: 10px 20px 0px 15px;
  font-size: 13px;
}

.church-address{
  color: black !important;
  padding-bottom: -5px !important;
}

.address-link {
  color: black !important;
  text-decoration: none;
}

.address-link:hover {
  color: blue;
}

.social-media-icon {
  height: 20px !important;
  width: 20px;
  margin: 0px 10px 10px 0px;
}

#yt-icon {
  width: 25px !important
}

/*.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
*/

.copyright {
 text-align: center: 
}
