
.nav-icon {
  height: 20px;
}

#social-media-section {
  text-align: right;
  padding: 10px 20px 0px 15px;
  background-color: #F1FBFF;
}

.church-address{
  color: black !important;
  padding-bottom: -5px !important;
}

.address-link {
  color: black !important;
  text-decoration: none;
}

.address-link:hover {
  color: blue;
}

.social-media-icon {
  height: 20px !important;
  width: 20px;
  margin: 0px 10px 10px 0px;
}

#yt-icon {
  width: 25px !important
}

main {
  background-color: #FFFFFF;
}

.container-fluid {
  padding-top: 10px;
}

.copyright {
 text-align: center:
}

.card {
  -moz-box-shadow:    3px 3px 5px 6px #ccc !important;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc !important;
  box-shadow:         3px 3px 5px 6px #ccc !important;
}

@media only screen and (max-width: 600px) {
  .card-title {
    text-align: center !important;
  }

  .card {
    margin: 10px 0px;
  }
}
